<html>
<head>
  <title>Rock Paper Scissors</title>
  <script src='/bower_components/knockout/dist/knockout.js'></script>
  <script src='/src/rps.js'></script>
</head>
<body>

  <p>Choose your weapon:</p>

  <div id='buttons' data-bind="foreach: weaponButtons">
    <button data-bind="click: function() { $root.selectWeapon($data); }, attr: { value='Hi';"><p data-bind="text: $data"></p></button>
  </div>

  <p>My weapon is: <span data-bind="text: weapon"></span>
  <p>Opponents weapon is: <span data-bind="text: opponent"></span>
  <p>The result is: <span data-bind="text: result"></span>

  <script src='/src/application.js'></script>
</body>
</html>